/node_modules
/vendor

.DS_Store
/.idea

.env
mix-manifest.json
npm-debug.log

/public/css/app.css
/public/css/app.css.map
/public/js/app.js
/public/css/pattern-library.css
/public/css/pattern-library.css.map
/public/hot
