This sentence has markers in it, the first i<b title="45th character">s</b> the 45th character and the
2<b title="75th character">n</b>d at the 75th character&mdash;to help spot issues with
<dfn>measure</dfn>, the typographic term for line length.
If both markers end up at the first line, its an indication your lines <em>may</em> be to long for comfortable
reading.
If the first marker falls on the second line, your lines <em>may</em> be too short.
But remember, it's <em>always</em> a matter of context!
