// Vertical rhythm
$vertical-rhythm-base: 2rem;

// Body
$body-bg: white;

// Colors
$brand-color: lightblue;
$brand-gray: rgb(50%, 50%, 50%);

// Typography
// System fonts from https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
$font-family-sans-serif: -apple-system, BlinkMacSystemFont,
"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
"Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;
$font-size-root: 100% / 16 * 14; // This adjusts the base font size - make sure it corresponds to a whole pixel
$font-size-normal: $vertical-rhythm-base / 1.5; // This makes the line height 1.5
$font-family-normal: $font-family-sans-serif;
$baseline-shift-factor-normal: 0.71; // This shifts text down to the baseline, adjust it to your liking (it's relative em and differs for every font)
$text-color: black;
$hr-height: 1px;
