// Vertical rhythm
$vertical-rhythm-base: 2rem;

// Body
$body-bg: white;

// Colors
$brand-color: lightblue;
$brand-gray: rgb(50%, 50%, 50%);

// Typography
// System fonts from https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
$font-family-sans-serif: -apple-system, BlinkMacSystemFont,
"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
"Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;
$font-size-root: 100%;
$font-size-normal: $vertical-rhythm-base / 1.5;
$baseline-shift-factor: 0.75;
$text-color: black;
$hr-height: 1px;
