// Vertical rhythm
$vertical-rhythm-base: 2rem;

// Colors
$brand-color: lightblue;
$brand-gray: rgb(50%, 50%, 50%);
$body-background-color: white;

// Typography

// System fonts from https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
$font-family-system: -apple-system, BlinkMacSystemFont,
"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
"Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;

$font-size-root: 100% / 16 * 14; // This adjusts the base font size - make sure it corresponds to a whole pixel
$font-size-normal: $vertical-rhythm-base / 1.5;
$font-family-normal: $font-family-system;
$baseline-shift-factor-normal: 0.71;
$modular-scale: 1.24;
$text-color: black;
$hr-height: 1px;
