@import "variables";
@import "modules/flow-rhythm";
@import "../../../vendor/fewagency/macropiche/assets/css/optional-style";

.pattern-library-header {
  // This section sets the layout for the pattern library

  /*
  * Break out of any container and become full width!
  * https://css-tricks.com/full-width-containers-limited-width-parents/
  */
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);

  * {
    margin: 0; // Reset margins on everything in the header

    @include reset-font-baseline-rhythm();
  }

  // Give everything after the header margins on sides
  ~ * {
    margin-left: $vertical-rhythm-base;
    margin-right: $vertical-rhythm-base;
  }
}

.pattern-library-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $brand-color;

  padding: $vertical-rhythm-base;

  > nav > ul {
    list-style: none;

    display: flex;
    align-items: center;

    > li {
      > a {
        display: inline-block;
        margin: .5em;
        padding: .5em;
        border-radius: .5em;
        border: 1px solid currentColor;
        color: currentColor;
        text-decoration: none;
      }
    }
  }
}

#m893690-resources\/components\/colors {
  dd {
    font-size: 2rem;
    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 4 * $vertical-rhythm-base;
      height: 4 * $vertical-rhythm-base;
      background-color: currentColor;
      border-radius: 50%;
      margin-right: $vertical-rhythm-base;
    }
  }

  .brand-color {
    color: $brand-color;
  }
  .brand-gray {
    color: $brand-gray;
  }
}

.macropiche__code > code, .macropiche__code-output > code {
  word-wrap: break-word;
}

.macropiche > hr {
  margin: 0;
}

.macropiche__source-anchor:target ~ .macropiche__output {
  /* Display vertical rhythm grid lines behind the output of the currently expanded section */
  $grid-color: rgba(red, 0.15);
  background: linear-gradient($grid-color, $grid-color 1px, transparent 1px);
  background-size: 1px $vertical-rhythm-base;
}
