@import "variables";
@import "../../../vendor/fewagency/macropiche/assets/css/optional-style";

.pattern-library-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $brand-color;

  /*
  * Break out of any container and become full width!
  * https://css-tricks.com/full-width-containers-limited-width-parents/
  */
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);

  padding: 0.5rem;

  > nav > ul {
    list-style: none;

    display: flex;
    align-items: center;

    > li {
      > a {
        display: inline-block;
        margin: .5em;
        padding: .5em;
        border-radius: .5em;
        border: 1px solid currentColor;
        color: currentColor;
        text-decoration: none;
      }
    }
  }
}

#m893690-resources\/components\/colors {
  dd {
    font-size: 2rem;
    &::before {
      content: "";
      display: inline-block;
      width: 3rem;
      height: 3rem;
      margin-right: .5rem;
      background-color: currentColor;
      vertical-align: middle;
    }
  }

  .brand-color {
    color: $brand-color;
  }
  .brand-gray {
    color: $brand-gray;
  }
}

.macropiche__code > code, .macropiche__code-output > code {
  word-wrap: break-word;
}
