
// Body
$body-bg: white;

// Colors
$brand-color: lightblue;
$brand-gray: rgb(50%, 50%, 50%);
// Typography
$font-family-sans-serif: Helvetica, sans-serif;
$font-family-black: Helvetica, sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;
$text-color: black;
