
// Body
$body-bg: white;

// Colors
$brand-a: red;
$brand-b: green;
$brand-c: blue;
$brand-d: yellow;
// Typography
$font-family-sans-serif: Helvetica, sans-serif;
$font-family-black: Helvetica, sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;
$text-color: black;
