/* Minimal CSS reset */

:root {
  font-family: $font-family-sans-serif;
  font-size: $font-size-root;
  color: $text-color;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: $font-size-normal;
  line-height: $vertical-rhythm-base;
  background: $body-bg;
}

/*
For inspiration on other resets you may want to do/include, check out:
https://github.com/necolas/normalize.css
*/
