/* Minimal CSS reset */
// For inspiration on other resets you may want to do/include, check out: https://github.com/necolas/normalize.css

$font-family-normal: "sans-serif" !default;
$font-size-root: 100% !default;
$text-color: black !default;
$body-background-color: white !default;

:root {
  font-family: $font-family-normal;
  font-size: $font-size-root;
  color: $text-color;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: $body-background-color;
}

// Reset the default box-sizing to border-box but make it easy to override when needed
// https://css-tricks.com/box-sizing/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
