/* Minimal CSS reset */
// For inspiration on other resets you may want to do/include, check out: https://github.com/necolas/normalize.css

:root {
  font-family: $font-family-normal;
  font-size: $font-size-root;
  color: $text-color;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: $body-bg;
}
