h1, h2, h3, h4, h5, h6 {
  font-size: 2 * $vertical-rhythm-base;
  line-height: 2 * $vertical-rhythm-base;

  // Reset vertical space after headings
  + * {
    //margin-top: 0;
  }
}

h2 {
  font-size: 1.6 * $vertical-rhythm-base;
}

h3 {
  font-size: 1.3 * $vertical-rhythm-base;
}

h4, h5, h6 {
  font-size: 1 * $vertical-rhythm-base;
  line-height: 1 * $vertical-rhythm-base;
}

h5 {
  font-size: 0.8 * $vertical-rhythm-base;
}

h6 {
  font-size: 0.75 * $vertical-rhythm-base;
}

p, blockquote, li, dt, dd, h4, h5, h6 {
  position: relative;
  top: calc(0 * #{$vertical-rhythm-base} + (1 * #{$vertical-rhythm-base} - 1em * #{$baseline-shift-factor}) / 2);

  p, blockquote {
    position: initial;
    top: initial;
  }
}

h1, h2, h3 {
  position: relative;
  top: calc(0 * #{$vertical-rhythm-base} + (2 * #{$vertical-rhythm-base} - 1em * #{$baseline-shift-factor}) / 2);
}
