@import "../modules/flow-rhythm";

/* Let all elements inherit typography by default */
* {
  font-family: inherit;
  line-height: inherit;
  &:not(a) {
    /* Keep user agent link colors */
    color: inherit;
  }
}

/* Keep smaller inline elements from making their parents grow vertically beyond their line height */
small, sub, sup {
  line-height: 1;
}

/* Set basic vertical and baseline rhythm on typographic elements */

body {
  @include flow-vertical-rhythm();
}

h1 {
  @include flow-baseline-rhythm(2 * $vertical-rhythm-base);
}

h2 {
  @include flow-baseline-rhythm(1.6 * $vertical-rhythm-base);
}

h3 {
  @include flow-baseline-rhythm(1.3 * $vertical-rhythm-base);
}

h4 {
  @include flow-baseline-rhythm(1 * $vertical-rhythm-base);
}

h5 {
  @include flow-baseline-rhythm(0.8 * $vertical-rhythm-base);
}

h6 {
  @include flow-baseline-rhythm(0.75 * $vertical-rhythm-base);
}

h1, h2, h3, h4, h5, h6 {
  + * {
    /* Reset vertical space after headings */
    margin-top: 0;
  }
}

p, blockquote, li, dt, dd {
  @include flow-baseline-rhythm();
}
