/*
Vertical rhythm inspired by
https://www.smashingmagazine.com/2016/11/css-inheritance-cascade-global-scope-new-old-worst-best-friends/#layout
*/

$vertical-rhythm-base: $font-size-base * $line-height-base;

* {
  margin-top: 0;
  margin-bottom: 0;
}

* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

* + * {
  margin-top: $vertical-rhythm-base;
}

body, br, li, dt, dd, th, td, option {
  margin-top: 0;
}

hr {
  $hr-height: 1px;
  height: $hr-height;
  /* Center <hr> within 1 vertical space unit */
  margin-top: $vertical-rhythm-base / 2 - $hr-height;
  margin-bottom: $vertical-rhythm-base / 2;

  /* Reset vertical space after hr */
  + * {
    margin-top: 0;
  }
}
